<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
    The author of this Sample Ruby App is <strong>Rafał Kęsik</strong>.
    Contact me here:
    <ul>
        <li>
            e-mail: <a href="mailto:rafal.kesik.g@gmail.com">rafal.kesik.g@gmail.com</a>
        </li>
        <li>
            LinkedIn: <a href="https://www.linkedin.com/in/rafal-kesik/">Rafał Kęsik</a>
        </li>
        <li>
            GitHub: <a href="https://github.com/rafalkesik">rafalkesik</a>
        </li>
    </ul>

    Hope to hear from you!
</p>

<br>

<p>
    In case you wish to contact the author of the Ruby on Rails Tutorial, use this
    <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>
